body{
    background-color: aquamarine;
}
.anime {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .anime figure{
    flex:calc(33.33% - 20px);
    margin:0;
 }
 @keyframes slideIn{ 
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
 }
 .anime img{ 
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    animation-iteration-count: infinite;


 }
 .anime img:hover{
    animation-play-state: running;
 }
 nav{
 display: flex;
      justify-content: center;
      gap: 1rem;
      background-color: #1f1f1f;
      padding: 0.5rem 0;
 }